.input-field {
  .input-label {
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    margin-bottom: 5px;
  }
  .q-field {
    border-radius: 8px;
  }
}

.text-brand {
  color: #a2aa33 !important;
}
.bg-brand {
  background: #a2aa33 !important;
}
