.graph-card {
  border: 2px solid #eeeeee;
  border-radius: 8px;
  padding: 24px;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  .header-left {
    display: flex;
    margin-bottom: 40px;
    .title-container {
      .title {
        color: #808080;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
      }
      .sub-title {
        color: #000;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
      }
    }
  }
  .header-right {
    display: flex;
    .legend-item-container {
        display: flex;
        margin-left: 25px;
      .legend-item-color {
        border-radius: 2px;
        width: 12px;
        height: 12px;
        margin-right: 9px;
      }
      .legend-item-text {
        font-size: 14px;
        line-height: 17px;
        color: #63666f;
      }
    }
  }
}
